@font-face {
  font-family: "D2Coding";
  src: url("/D2Coding.ttf") format("ttf"),
    url("/D2CodingBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
// html {
//   font-size: 62.5%;
// }
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "D2Coding", sans-serif;
  line-height: 1.6;
  word-break: keep-all;
}
a {
  color: #000;
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  background-image: url("/images/main_bg.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
